dash_config=`aws ssm get-parameter --name /dea-dev-eks/reporting-db-dev.creds --with-decryption --query "Parameter.Value" --output text`
export DBUSER=`echo $dash_config | cut -f4 -d":"`
export DB=`echo $dash_config | cut -f2 -d":"`
export DBPASS=`echo $dash_config | cut -f5 -d":"`
export DBHOST=`echo $dash_config | cut -f1 -d":"`
export DBPORT=`echo $dash_config | cut -f3 -d":"`